/* font-family: "Montserrat", sans-serif; */
/* font-family: "Fraunces", serif; */
:root{
    --crl-prima-drkcyan: hsl(158, 36%, 37%);
    --crl-prima-cream: hsl(30, 38%, 92%);
    --crl-neu-drkblue: hsl(212, 21%, 14%);
    --crl-neu-grayblue: hsl(228, 12%, 48%);
    --crl-neu-white: hsl(0, 0%, 100%);

    --font-montserrat: "Montserrat", sans-serif;
    --font-fraunces: "Fraunces", serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    background-color: var(--crl-prima-cream);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 1.5em;
    height: 100vh;
}

.product-perfume {
    max-width: 300px;
    border-radius: 10px 0 0 10px;
    display: block;
}

/* mobile-size */
@media (100px <= width <= 400px){
    body{
        padding: 3em;
        margin: 15%;
    }
    .product-perfume{
        background-image: url(/img/image-product-mobile.jpg);
        display: block;
        border-radius: 10px 10px 0 0;
    }
    .product-crd{
       display: flex;
       flex-direction: column;
       justify-content: center;
       border-radius: 10px;
    }
    .product-ctn{
        padding-bottom: 20px;
    }
}


/* styles */
.product-crd{
    display: flex;
    justify-content: center;
    background-color: var(--crl-neu-white);
    width: 600px;
    border-radius: 10px;
}

.product-ctn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px 30px 0 30px;
}

.pro-cator{
    font-family: var(--font-montserrat);
    color: var(--crl-neu-grayblue);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
}

.pro-name{
    font-family: var(--font-fraunces);
    font-weight: 700;
    color: var(--crl-neu-drkblue);
    line-height: 1em;
    text-wrap: balance;
}

.product-ctn > *{
    margin: 10px 5px 10px 0;
}

.pro-desc{
    font-family: var(--font-montserrat);
    color: var(--crl-neu-grayblue);
    font-weight: 500;
    font-size: 14px;
    text-wrap: balance;
    line-height: 1.5em;
}

.product-price, h1, p{
    display: inline;
    font-family: var(--font-fraunces);
}

.product-price{
    margin: 15px 30px 30px 0;
}

.product-disc{
    color: var(--crl-prima-drkcyan);
}

.product-ori{
    color: var(--crl-neu-grayblue);
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: line-through;
    font-size: 14px;
}

.btn{
    font-family: var(--font-montserrat);
    background: var(--crl-prima-drkcyan);
    width: 16em;
    border: none;
    border-radius: 10px;
    color: var(--crl-neu-white);
    padding: 15px;
    font-weight: 700;
}

.btn:hover{
    background: hsl(158, 30%, 29%);
    cursor: pointer;
}

.product-cart{
    padding: 0 10px 0 0;
}